:root {
  --ion-color-primary: #f57c00;
  --ion-color-primary-rgb: 245, 124, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #c46200;
  --ion-color-primary-tint: #ff9d3b;
  --ion-background-color: #ffffff;
  --ion-text-color: #333333;
  --ion-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --ion-font-size-base: 16px;
  --ion-font-size-small: 12px;
}

.account-type-page {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  height: 100vh;
}

.account-type-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  text-align: center;
}

.custom-toolbar {
  --background: #012538;
}

.custom-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.branding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.title-text {
  font-size: 44px;
  font-weight: 900;
  color: #f57c00;
  font-family: 'capture smallz clean', sans-serif;
  margin-bottom: 4px;
}

.subtitle-text {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  font-family: 'Geologica', sans-serif;
}

.person-icon {
  font-size: 80px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* Tarjeta centrada */
.card-box {
  background-color: #012538;
  color: white;
  padding: 20px;
  border: 1px solid #fb9833;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
}

.user-icon-circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.user-icon {
  color: white;
  font-size: 30px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-list {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #cccccc;
  text-align: left;
  width: 100%;
}

.card-list li {
  margin-bottom: 8px;
}

.button-container {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: -15px;
}

.enter-button {
  --background: #fb9833;
  --color: black;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 20px;
  font-size: 16px;
}

/* Indicador visual deslizante */
.custom-slider-indicator {
  width: 90px;
  height: 12px;
  background-color: #012538;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  margin-left: 395px;
}

.slider-thumb {
  height: 100%;
  width: 50%;
  background-color: #fb9833;
  border-radius: 20px;
  position: absolute;
  top: 0;
  transition: left 0.3s ease;

}

.slider-thumb.left {
  left: 0;
}

.slider-thumb.right {
  left: 50%;
}
