.home-page {
  background-color: #012538;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
}

.header-toolbar {
  --background: #012538 !important;
  --color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  box-shadow: none;
}

/* Aquí el cambio para el título blanco */
.header-toolbar ion-title {
  color: white !important;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height para centrar vertical */
  padding: 0 1rem;
}

.form-box {
  width: 280px;
  height: 500px;
  border-radius: 20px;
  border: 2px solid #fb9833; /* borde naranja */
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: white;
  box-sizing: border-box;

  margin-left: 65px; /* mover a la derecha */
  margin-top: 70px;  /* mover hacia abajo */
}

.form-title {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  width: 100%;
}

.form-textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid black; /* Primera línea negra que quieres mantener */
  outline: none;
  font-size: 0.9rem;
  color: #666;
  padding-bottom: 0.2rem;
  font-family: inherit;
}

.form-textarea::placeholder {
  color: #999;
  font-weight: 300;
}

.send-button {
  background-color: #fb9833 !important;
  color: black !important;
  font-weight: 700;
  width: 85px;
  height: 60px;
  align-self: center;
  box-shadow: none;
  text-transform: none !important;
  margin-top: 40px;
  font-family: Geologica, Regular;
  font-size: 14px;
}
