/* Profile.css */

.profile-page {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
  font-family: 'Geologica', sans-serif;
}

p {
  font-size: var(--ion-font-size-base);
  margin: 10px 0;
}

/* Encabezado azul oscuro con texto blanco centrado */
.header-toolbar {
  --background: #012538 !important;
  --color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  box-shadow: none;
  color: white;
}

/* Visual estilo formulario */
.profile-info {
  margin-top: 20px;
}

.info-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: 'Geologica', sans-serif;
}

.label {
  font-weight: 500;
  margin-bottom: 4px;
}

.value {
  color: #8e8e8e;
  align-self: flex-end;
}

.line {
  margin-top: 4px;
  height: 1px;
  background-color: black;
  width: 100%;
}
