.provider-edit-page {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}

.error-text {
  margin-top: 10px;
  font-weight: 600;
  color: var(--ion-color-danger);
  padding-left: 5px;
}
